html , body{
  height:100%;           
  width:100%;                                     /* This CSS code is for The fonts and the color of the HTML body*/
  font-family: 'Poppins', sans-serif;
  color:  #222;
}

h1,h2,h3,p,h4,h5{
  color: white;
}

h1{
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}

body{
  /* background-color: #ffffffc0; */
  background: url(https://images.wallpaperscraft.com/image/fractal_abstraction_shine_130229_3000x3000.jpg);
}

.navbar{
  padding: .8rem;                             /* This CSS code makes the nav bar thicker*/
}

.navbar-nav li {
  padding-right: 20px;                            /* This CSS code makes the list items in the nav bar have greater distance*/
}

.nav-link {
  font-size: 1.1em !important;                     /* This CSS code increases the font size in the css code*/
}

.carousel-inner img{
  width: 100%;                                    /* This CSS code makes the carousel image full size*/
  height: 100%
}

.carousel-caption{
  position: absolute;
  top:50%;                                         /* This CSS code makes the carousel  caption go up on the Y axis -50% centering the text to the midle of the image*/
  transform: translateY(-50%);
}


.carousel-caption h1 {
  font-size: 500%;                                 /* forces the carousel text to be uppercase also adds a shadow value to the text*/
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;                                /* adds a shadow to the subheading of the carousel*/
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.jumbotron{
  padding: 1rem;                                    /* restricts jumbostron size to what it needs*/
  border-radius: 0;
}

.jumbotron p.lead2 {
    font-size: 30px;
    text-align: center;
}




.padding{
  padding-bottom: 2rem;                             /*Spaces out sections of the page to the bottom*/
}

.welcome {
  width: 75%;
  margin: 0 auto;                                  /*Adjusts the width of the welcome section*/
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;                                      /* brings everything closer together in the welcome seciton*/
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.sf1, .sf2, .sf3{
  /* SF logo images if any change it needed */ 
  width: 100%;
  max-width: 550px;
  height: auto;

  /*Scale down will take the necessary specified space that is 400px x 200px without stretching the image*/
  object-fit:scale-down;
}

.giff {
  font-size: 150%;
  width: 100%;
  margin-bottom: 2rem;                            /* makes the button width 100% to cover the whole screen*/
}

.gif {
  max-width: 100%;                                 /* makes the Gifs only their maxium size*/
}

.social a {
	
  font-size: 4.6em;
  padding: 3rem;                                    /* spaces out the social media icons*/
}

.fa-facebook{
  color: #3b5998;                                  /* Facebook icon colour*/
}

.fa-twitter{
  color: #00aced;                                  /* twitter icon colour*/
}

.fa-instagram{
  color: #517fa4;                                  /* instagram icon colour*/
}

.fa-youtube{
  color: #bb0000;                                  /* twitter icon colour*/
}

.fa-youtube:hover, .fa-twitter:hover, .fa-facebook:hover, .fa-instagram:hover{
    color: #d5d5d5;                                                            /* chanegs the icons colour to grey when hovered over*/
}


footer {
  background-color: rgb(108, 117, 125);
  color: #d5d5d5;                                             /* Changes the footer colour*/
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #6c757d
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;                                           /* Changes the gap between certian parts of the webpage*/
  margin-bottom: 1rem;
}

#timer {
  font-size: 470%;                                           /*Makes the timer font size larger*/
}


#refresh{
  width: 85%;
  font-size: 155%;
  margin-left: 70px;
}


#kura, #eth {

  font-size: 120%;                                           /*Chnageing the captions in the video page*/

}


.Ggraph {
  border-width: 0;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border-style:none;
}


.card-img-top-1{
  max-width: 200px;
  padding: 2rem;
  text-align: center;
  margin-left: 150px;
  height: 200px;
}





/*---Media Queries --*/
/*
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {

.carousel-caption{
  top: 40%;                                         /* changes the protperties of the carousel at this size */ 


.carousel-caption h1 {
  font-size: 250%
}

.carousel-caption h3 {
  font-size: 120%;
  font-weight: 300;                                 /*changes the properties of the carousel text at this size*/
  padding-bottom: .2rem;
}

.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}

h1.display-4 {
  font-size: 350%;
  color: white;
  font-weight: bold;
  padding-left: 350px;
}

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }


@media (max-width: 576px) {
  
  .carousel-caption{
  top: 40%;                                         /* changes the protperties of the carousel at this size */ 
}


.carousel-caption h1 {
  font-size: 200%
}

.carousel-caption h3 {
  font-size: 80%;                                   /*changes the properties of the carousel text at this size*/                            
}

.carousel-caption .btn {
  font-size: 81%;
  padding: 4px 8px;
}

.carousel-indicators {
  display: none;
}

.display-4 {
  font-size: 140%;
  color: white;
}
  .social a {
    font-size: 2em;
    padding: .7rem;
  }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#fixed {
  background-image: url('../images/gief.gif');
  position: fixed;
  display: block;
  top: 0;                  
  left: 0;
  width: 100%;                                  /* This CSS code is for the fixed background image when scrolling down*/
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}                                                    


/*--- Bootstrap Padding Fix --*/
/* [class*="col-"] {
    padding: 1rem;
} */


/* Code for the table on the about page */

 #Figther {
     font-family: 'Josefin Sans', sans-serif;
     border-collapse: collapse;
     width: 100%;
}
 #Figther td, #Figther th {
     border: 1px solid #ddd;
     padding: 8px;
}
 #Figther tr:nth-child(even){
    background-color: wheat;
}
 #Figther tr:hover {
    background-color: red;
}
 #Figther th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: black;
     color: white;
}












/******************************************************* SEARCH PAGE CSS ***************************************************************/

.wrapper{
    position: relative;
    margin:auto;
    
    /* top: 60%;
    left: 50%; */
    /* transform: translate(-50%,-140%); */
    background: rgba(0,0,0,0.6);
    font-family: cursive;

    width: 100%;
    max-width: 500px;
    height: auto;
   /* padding: top 100px; */

    padding: 15px;
    border-radius:10px;
    cursor: pointer;
    /* display: flex;
    justify-content: space-between; */
}
.wrapper input{
  width: 105%;
  max-width: 500px;
  height: auto;
    padding: 15px 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
	color:black; 
	float: right;
	width: 110px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
  
}

.search-box a{

  color:red; 
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:#2f3640;
	display: flex;
	justify-content: center;
	align-items: center;

}

.Searchbox{
  width: 680px; 
  height: 60px;

}

.Searchbox::placeholder{
  color: grey;
}

.autocomplete {
  position: relative;
  display: inline-block;
  font-size: 25px;
}

input{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
}
input[type = "text"] {
	background: #fff;
}



/******************************************************* LOGIN PAGE CSS ***************************************************************/


.loginbox{
  font-family: sans-serif;
  width: 400px;
  height: 460px;
  background: rgb(133, 133, 133);
  color: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 35px 70px 70px 70px;
  border-radius: 10%;
}


.loginAva{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 290px);
}


.loginbox p{
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
}

.loginbox input{
  width: 100%;
  margin-bottom: 40px;
}

.loginbox h3{
  margin: 0;
  padding: 25px 0px 30px 0px;
  text-align: left;
  font-size: 17px;
  color: whitesmoke;
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.loginbox ::placeholder{
  color: darkgray;
  font-weight: normal;
}


.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #000;
  color:#fff;
  /* border-radius: 20px; */
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #555353;
  color: #fff;
}

.loginbox a{
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: black;
  opacity: 0.6;
}
.loginbox a:hover
{
  opacity: 1;
}

/************************************************** REGISTER PAGE CSS **********************************************************/


.registerbox{
  font-family: sans-serif;
  width: 400px;
  height: 650px;
  background: rgb(133, 133, 133);
  color: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-40%);
  box-sizing: border-box;
  padding: 35px 70px 70px 70px;
  border-radius: 10%;
}

.registerAva{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 380px);
}

.registerbox p{
  margin: 0;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
}

.registerbox input{
  width: 100%;
  margin-bottom: 20px;
}

.registerbox h3{
  margin: 0;
  padding: 25px 0px 30px 0px;
  text-align: left;
  font-size: 17px;
  color: whitesmoke;
}

.registerbox input[type="text"], input[type="password"], input[type="email"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.registerbox ::placeholder{
  color: darkgray;
  font-weight: normal;
}


.registerbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #000;
  color:#fff;
  margin-bottom: 40px;
}

.registerbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #555353;
  color: #fff;
}

.registerbox a{
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: black;
  opacity: 0.6;
}
.registerbox a:hover
{
  opacity: 1;
}


/************************************************** COMPLAINTS PAGE CSS **********************************************************/


.complaintsform input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 40px;
    display: inline-block;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(110, 109, 109);
    color: rgb(255, 255, 255);
  }
  
  .complaintsform label, ::placeholder
  {
    color: white;
  }

  .complaintsform label{
    font-size: 20px;
  }




  /* Utility Classes */
.mar2{
  margin: 2rem;
}
.mar1{
  margin: 0.5rem;
}
.mar0{
  margin: 0.35rem;
} 

.centred{
  text-align: center;
}

.form-group{
    margin: 1rem;
}

  /* Element Styles */
main{
    margin-left: 8rem;
    margin-right: 8rem;
}




  .headin{
    text-align:center;
    color: rgba(255,255,255,1);
    margin: 30px;
    display: block;
}

.ptable table{
	margin: auto auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 5px 0%;
}

td {
    padding: 5px;
}

td {
        width:25%;
}

td{
	background-color: rgb(110, 109, 109);
}
th{
  color:white;
}

.row{
	text-align: left;
}

.row td{
	color: #cacaca;
}

.wpos{
    text-align: left;
}

.wpos td{
    color:rgb(255, 255, 255);
}


table .col{
	border-bottom: 1px solid #FFFFFF;
    background-color: rgb(43, 41, 87);
    text-align: left;
}

.wpos:hover td{
	background-color:rgb(43, 41, 87);;
}


/************************************************** FORUM PAGE CSS **********************************************************/

.forumstyle label{
  color: white; 
  font-size: 25px;
}

.forumstyle ::placeholder{
  color: darkgray;
}

.forumbtn{
  width: 100%;
  background-color: rgba(110, 109, 109);
  color: white;
  padding: 30px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forumbtn:hover{
  background-color: #484848;	
  opacity: 1;
}

.headinforum{
  text-align:center;
  color: rgba(255,255,255,1);
  margin: 30px;
  display: block;
}

.ptableforum table{
margin: auto auto;
border-collapse: collapse;
}

.ptableforum{
position: relative;
margin-top: 40px;
margin-bottom: 50px;

}

td {
  padding: 5px;
}

td {
      width:25%;
}

td{
background-color: rgb(110, 109, 109);
}
th{
color:white;
}

.rowforum{
text-align: left;
}

.rowforum td{
color: #cacaca;
}

.wposforum{
  text-align: left;
}

.wposforum td{
  color:rgb(255, 255, 255);
}


table .colforum{
border-bottom: 1px solid #FFFFFF;
  background-color: rgb(43, 41, 87);
  text-align: left;
}

.wposforum:hover td{
background-color:rgb(43, 41, 87);;
}

.tableforum{
 position: relative;
 width: 120%;
}



.headingamepage{
  text-align:center;
  color: rgba(255,255,255,1);
  margin: 30px;
  display: block;
}

.ptablegamepage table{
margin: auto auto;
border-collapse: collapse;
}

.ptablegamepage{
/* margin: 0px 0% 5px 0%; */
margin-right: 5%;
margin-left: 2.5%;
}

td {
  padding: 5px;
}

td {
      width:14.2857%; 
}

td{
background-color: rgb(110, 109, 109);
}
th{
color:white;
}

.rowgamepage{
text-align: left;
}

.rowgamepage td{
color: #cacaca;
}

.wposgamepage{
  text-align: left;
}

.wposgamepage td{
  color:rgb(255, 255, 255);
}


table .colgamepage{
border-bottom: 1px solid #FFFFFF;
  background-color: rgb(43, 41, 87);
  text-align: left;
}

.wposgamepage:hover td{
background-color:rgb(43, 41, 87);;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
  color:white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c2be2; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c2be2; 
}

.Logo{
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit:scale-down;
}





























