<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <script src="javascript/autocomplete.js"></script>


</head>

<body>
  <!-- Navigation Nav bar and all the links -->
  <nav class="navbar navbar-expand-md navbar navbar-dark bg-secondary  sticky-top">
    <div class="container-fluid"> <a class="navbar-brand" href="/"></a>
      <a class="navbar-brand" href="/">
        <img src="images/gamespy.png" alt="Game spy Logo" class="Logo" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="populargames">Popular Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Complaints">Complaints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <form action="/search-result" method="GET">
      <div class="wrapper">
      <div class="ui-widget">
        <div class="autocomplete">
          <input type="text" name="keyword" id="allgames" class="Searchbox" placeholder="Search by name...." required>
        </div>

        <div class="searchbtn" style="font-size: 40px;">
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </form>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <!--- Link for the first game with the image -->
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4 text-white">
        <a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=The+Witcher+3%3A+Wild+Hunt"><img src="images/Witcher.jpeg"
            alt="Witcher" class="sf1"></a>
        <h3>The Witcher 3: Wild Hunt</h3>
        <p>The Witcher: Wild Hunt is a story-driven open world RPG set in a visually
          stunning
          fantasy universe full of meaningful choices and impactful consequences. In The Witcher, you play
          as
          professional monster hunter Geralt of Rivia tasked with finding a child of prophecy in a vast
          open world rich with merchant cities, pirate islands, dangerous mountain passes, and
          forgotten caverns to explore</p>
      </div>
      <!--- Link for the second game with the image -->
      <div class="col-xs-12 col-sm-6 col-md-4 text-white">
        <a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=DARK+SOULS+III"><img src="images/DarkSouls.jpeg"
            alt="Dark Souls" class="sf2"></a>
        <h3>Dark Souls 3</h3>
        <p>Dark Souls is a third-person action role-playing game. A core mechanic of the
          game is exploration. Players are encouraged by the game to proceed with caution, learn from past
          mistakes, or find alternative areas to explore. Dark Souls takes place in a large and continuous
          open world environment, connected through a central hub area. The player character can travel
          between areas and explore various paths at will, although prerequisites have to be met to unlock
          certain areas.</p>
      </div>
      <!--- Link for the thrid game with the image -->
      <div class="col-xs-12 col-sm-6 col-md-4 text-white">
        <a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=Tom+Clancy%27s+Rainbow+Six+Siege"><img
            src="images/Rainbow.jpeg" alt="Rainbow" class="sf3"></a>
        <h3>Tom Clancy's Rainbow Six Siege</h3>
        <p>Master the art of destruction and gadgetry in Tom Clancy’s Rainbow Six Siege.
          Face intense close quarters combat, high lethality, tactical decision making, team play and
          explosive action within every moment. Experience a new era of fierce firefights and expert
          strategy born from the rich legacy of past Tom Clancy's Rainbow Six games.</p>
      </div>
    </div>
    <hr class="my-4">
    <!--Gives space to the page-->
  </div>
  <!--- Footer -->
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-6">
          <hr class="light">
          <p>07481722186</p>
          <p>GameSpy@gmail.com</p>
          <p>123 Fake Street</p>
          <p>Fake Blvd</p>
        </div>
        <div class="col-md-6">

          <hr class="light">
          <p>8 Lewisham Way</p>
          <p>New Cross</p>
          <p>London</p>
        </div>
        <div class="col-12">
          <hr class="light">
          <h5>&copy; GameSpy</h5>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
