<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Popular Games</title>

	<link rel="stylesheet" type="text/css" href="/css/custom.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/custom.css" rel="stylesheet">
	<script src="js/js.js"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
		integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>

	<!-- Navigation Nav bar and all the links -->
	<nav class="navbar navbar-expand-md navbar navbar-dark bg-secondary sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"> <img src="images/logo%20gamespy.png" alt="Game spy Logo" /></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="PopularGames">Popular Games</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Complaints">Complaints</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="Forum">Forum</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href='/logout'>Logout</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>

	<!--- Three Columns about the games -->

	<!--- Link for the first game with the image -->

	<div class="container-fluid padding">
		<br>
		<h1>This Weeks Top 3 Games</h1>
		<br>

		<div class="row text-center padding">
			<div class="col-s-10 col-xs-1 col-md-4">
				<a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=The+Witcher+3%3A+Wild+Hunt"><img
						src="images/Witcher.jpeg" alt="Witcher" class="sf1"></a>
				<h3>The Witcher 3: Wild Hunt</h3>
				<p class="text-left">The Witcher: Wild Hunt is a story-driven open world RPG set in a visually
					stunning
					fantasy universe full of meaningful choices and impactful consequences. In The Witcher, you play
					as
					professional monster hunter Geralt of Rivia tasked with finding a child of prophecy in a vast
					open world rich with merchant cities, pirate islands, dangerous mountain passes, and
					forgotten caverns to explore.</p>

			</div>

			<!--- Link for the second game with the image -->

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="http://doc.gold.ac.uk/usr/900/search-result?keyword=Euro+Truck+Simulator+2"><img
						src="images/EuroTruck.jpeg" alt="EuroTruck" class="sf2"></a>
				<h3>Euro Truck Simulator 2</h3>
				<p class="text-left">Travel across Europe as king of the road, a trucker who delivers important
					cargo
					across impressive distances! With dozens of cities to explore from the UK, Belgium, Germany,
					Italy,
					the Netherlands, Poland, and many more, your endurance, skill and speed will all be pushed to
					their limits.
					If you’ve got what it takes to be part of an elite trucking force, get behind the wheel and
					prove it!
				</p>
			</div>


			<!--- Link for the thrid game with the image -->

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=Tom+Clancy%27s+Rainbow+Six+Siege"><img
						src="images/Rainbow.jpeg" alt="Rainbow" class="sf3"></a>
				<h3>Tom Clancy's Rainbow Six Siege</h3>
				<p class="text-left">Master the art of destruction and gadgetry in Tom Clancy’s Rainbow Six Siege.
					Face intense close quarters combat, high lethality, tactical decision making, team play and
					explosive action within every moment. Experience a new era of fierce firefights and expert
					strategy born from the rich legacy of past Tom Clancy's Rainbow Six games.</p>
			</div>
		</div>

		<hr class="my-4">
		<!--Gives space to the page-->

		<h1>This Months Top 3 Games</h1>

		<div class="row text-center padding">
			<div class="col-s-10 col-xs-1 col-md-4">
				<a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=Fallout%3A+New+Vegas"><img
						src="images/Fallout.jpeg" alt="Fallout" class="sf1"></a>
				<h3>Fallout: New Vegas</h3>
				<p class="text-left">Welcome to Vegas. New Vegas.
					It’s the kind of town where you dig your own grave prior to being shot in the head and
					left for dead…and that’s before things really get ugly. It’s a town of dreamers and desperados
					being torn apart by warring factions vying for complete control of this desert oasis.
					It’s a place where the right kind of person with the right kind of weaponry can really
					make a name for themselves, and make more than an enemy or two along the way.
					As you battle your way across the heat-blasted Mojave Wasteland, the colossal Hoover Dam,
					and the neon drenched Vegas Strip, you’ll be introduced to a colorful cast of characters,
					power-hungry factions, special weapons, mutated creatures and much more. Choose sides in
					the upcoming war or declare “winner takes all” and crown yourself the King of New Vegas
					in this follow-up to the 2008 videogame of the year, Fallout 3.
					Enjoy your stay.</p>
			</div>
			<!--- Link for the second game with the image -->

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=DARK+SOULS+III"><img src="images/DarkSouls.jpeg"
						alt="DarkSouls" class="sf2"></a>
				<h3>Dark Souls 3</h3>
				<p class="text-left">Dark Souls is a third-person action role-playing game. A core mechanic of the
					game is exploration. Players are encouraged by the game to proceed with caution, learn from past
					mistakes, or find alternative areas to explore. Dark Souls takes place in a large and continuous
					open world environment, connected through a central hub area. The player character can travel
					between areas and explore various paths at will, although prerequisites have to be met to unlock
					certain areas.</p>
			</div>


			<!--- Link for the thrid game with the image -->

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=Counter-Strike%3A+Global+Offensive"><img
						src="images/CSGO.jpeg" alt="CSGO" class="sf3"></a>
				<h3>Counter-Strike: Global Offensive</h3>
				<p class="text-left">Counter-Strike: Global Offensive (CS: GO) expands upon the team-based action
					gameplay
					that it pioneered when it was launched 19 years ago. CS: GO features new maps, characters,
					weapons, and game modes, and delivers updated versions of the
					classic CS content (de_dust2, etc.). "Counter-Strike took the gaming industry by surprise when
					the unlikely MOD became the most played
					online PC action game in the world almost immediately after its release in August 1999," said
					Doug
					Lombardi at Valve. "For the past 12 years, it has continued to be one of the most-played games
					in
					the world, headline competitive gaming tournaments and selling over 25 million units worldwide
					across the
					franchise. CS: GO promises to expand on CS' award-winning gameplay and deliver it to gamers
					on the PC as well as the next gen consoles and the Mac." </p>
			</div>
		</div>

		<hr class="my-4">
		<!--Gives space to the page-->

		<h1>This Years Top 3 Games</h1>

		<div class="row text-center padding">
			<div class="col-s-10 col-xs-1 col-md-4">
				<a href="http://doc.gold.ac.uk/usr/900/search-result?keyword=Tom+Clancy%27s+The+Division+2"><img
						src="images/Division.jpeg" alt="Division" class="sf1"></a>
				<h3>Tom Clancy's The Division 2</h3>
				<p class="text-left">Tom Clancy's The Division 2 is an online action role-playing video game
					developed by Massive Entertainment and published by Ubisoft. The sequel to Tom Clancy's The
					Division (2016), it is set in a near-future Washington, D.C. in the aftermath of a genetically
					engineered virus known as "Green Poison" being released, and follows an agent of the Strategic
					Homeland Division as they try to rebuild the city. The game was released for Microsoft Windows,
					PlayStation 4, and Xbox One on March 15, 2019. It received generally favorable reviews from
					critics, with most noting it as an improvement over the first installment. </p>
			</div>
			<!--- Link for the second game with the image -->

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="http://www.doc.gold.ac.uk/usr/900/search-result?keyword=Street+Fighter+V"><img src="images/Street.jpeg"
						alt="Street figther V" class="sf2"></a>
				<h3>Street Fighter: V</h3>
				<p class="text-left">
					Rule the ring with Street Fighter V: Champion Edition, the most robust version of the acclaimed
					fighting game! This new version
					includes all content (excluding Fighting Chance costumes, brand collaboration costumes and
					Capcom Pro Tour DLC) from both the
					original release and Street Fighter V: Arcade Edition. Champion Edition adds each character,
					stage and other content that
					released after Arcade Edition and with the release of this new version. In total: 40 characters,
					34 stages, over 200 costumes
					– all action-packed into one knockout edition! READY? FIGHT!</p>
			</div>


			<!--- Link for the thrid game with the image -->

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="http://doc.gold.ac.uk/usr/900/search-result?keyword=NieR%3AAutomata"><img src="images/Nier.jpeg"
						alt="Nier: Automata" class="sf3"></a>
				<h3>Nier: Automata</h3>
				<p class="text-left"> Nier: Automata is an action role-playing game (RPG) in which players take the
					role of combat androids from the YoRHa units across an open world. In addition to standard
					navigation on foot, using a special item allows the player to summon a wild animal to ride, and
					in some scenarios pilot a flying mech to fight enemies.As with Nier (2010), during
					navigation in some environments, the camera shifts from its standard third-person perspective to
					an overhead or side-scrolling view.Some areas also include platforming elements, requiring
					the player to navigate by jumping between platforms or over obstacles </p>
			</div>
		</div>
	</div>

	<!-- <hr class="my-4"> Gives space to the page -->

	<!--- Footer -->
	<footer>
		<div class="container-fluid padding">
			<div class="row text-center">
				<div class="col-md-6">
					<hr class="light">
					<p>07481722186</p>
					<p>GameSpy@gmail.com</p>
					<p>123 Fake Street</p>
					<p>Fake Blvd</p>
				</div>
				<div class="col-md-6">
					<hr class="light">
					<p>8 Lewisham Way</p>
					<p>New Cross</p>
					<p>London</p>
				</div>
				<div class="col-12">
					<hr class="light">
					<h5>&copy; GameSpy</h5>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
